.container{
    display: flex;
    height: 40vh;

}
.controls{
    width: 20%;
    padding: 1rem;
    background: black;
    color: white;
}
.controls input{
    border: none;
}

.map-container{
    width: 100%;
    height: 100%;
}
.map{
    width: 100%;
    height: 100%;
}